[package]
authors = ["Lars Francke <lars.francke@stackable.de>"]
description = "Stackable Operator Framework"
edition = "2018"
license = "Apache-2.0"
name = "stackable-operator"
version = "0.8.0-nightly"
repository = "https://github.com/stackabletech/operator-rs"

[dependencies]
async-trait = "0.1.51"
chrono = "0.4.19"
clap = "3.0.5"
const_format = "0.2.22"
either = "1.6.1"
futures = "0.3.17"
json-patch = "0.2.6"
k8s-openapi = { version = "0.13.1", default-features = false, features = ["schemars", "v1_22"] }
kube = { version = "0.65.0", features = ["jsonpatch", "runtime", "derive"] }
lazy_static = "1.4.0"
product-config = { git = "https://github.com/stackabletech/product-config.git", tag = "0.3.0" }
rand = "0.8.4"
regex = "1.5.4"
schemars = "0.8.7"
serde = "1.0.130"
serde_json = "1.0.68"
serde_yaml = "0.8.21"
strum = "0.23.0"
strum_macros = "0.23.1"
thiserror = "1.0.30"
tokio = { version = "1.12.0", features = ["macros", "rt-multi-thread"] }
tracing = "0.1.29"
tracing-futures = "0.2.5"
tracing-subscriber = { version = "0.3.1", features = ["env-filter"] }
uuid = { version = "0.8.2", features = ["v4"] }
backoff = "0.4.0"
derivative = "2.2.0"
structopt = "0.3.25"

[dev-dependencies]
rstest = "0.12.0"
serial_test = "0.5.1"
tempfile = "3.2.0"

[features]
default = ["native-tls"]
native-tls = ["kube/native-tls"]
rustls-tls = ["kube/rustls-tls"]
