[package]
name = "stackable-operator"
version = "0.1.0"
authors = ["Lars Francke <lars.francke@gmail.com>"]
edition = "2018"

[dependencies]
either = "1.6"
futures = "0.3"
k8s-openapi = { version = "0.11", default-features = false }
kube = { version = "0.48", default-features = false, features = ["derive"] }
kube-runtime = "0.48"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.8"
thiserror = "1.0"
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }
tracing = "0.1"
tracing-futures = "0.2"
tracing-subscriber = "0.2"
uuid = { version = "0.8", features = ["v4"] }

[dev-dependencies]
k8s-openapi = { version = "0.11", default-features = false, features = ["v1_20"] }
rstest = "0.6"

[features]
default = ["native-tls"]
native-tls = ["kube/native-tls"]
rustls-tls = ["kube/rustls-tls"]
