[package]
authors = ["Stackable GmbH <info@stackable.de>"]
description = "Stackable Operator Framework"
edition = "2021"
license = "Apache-2.0"
name = "stackable-operator"
version = "0.26.0"
repository = "https://github.com/stackabletech/operator-rs"

[dependencies]
chrono = { version = "0.4.22", default-features = false }
clap = { version = "3.2.23", features = ["derive", "cargo", "env"] }
const_format = "0.2.30"
either = "1.8.0"
futures = "0.3.25"
json-patch = "0.2.6"
k8s-openapi = { version = "0.16.0", default-features = false, features = ["schemars", "v1_24"] }
kube = { version = "0.76.0", features = ["jsonpatch", "runtime", "derive"] }
lazy_static = "1.4.0"
product-config = { git = "https://github.com/stackabletech/product-config.git", tag = "0.4.0" }
rand = "0.8.5"
regex = "1.6.0"
schemars = "0.8.11"
serde = { version = "1.0.147", features = ["derive"] }
serde_json = "1.0.87"
serde_yaml = "0.9.14"
strum = { version = "0.24.1", features = ["derive"] }
thiserror = "1.0.37"
tokio = { version = "1.21.2", features = ["macros", "rt-multi-thread"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
derivative = "2.2.0"
tracing-opentelemetry = "0.17.4"
opentelemetry = { version = "0.17.0", features = ["rt-tokio"] }
opentelemetry-jaeger = { version = "0.16.0", features = ["rt-tokio"] }
stackable-operator-derive = { path = "stackable-operator-derive" }
snafu = "0.7.3"

[dev-dependencies]
rstest = "0.15.0"
tempfile = "3.3.0"

[workspace]
members = ["stackable-operator-derive"]
