[workspace.package]
description = "Stackable Operator Framework"
version = "0.45.1"
authors = ["Stackable GmbH <info@stackable.de>"]
license = "Apache-2.0"
edition = "2021"
repository = "https://github.com/stackabletech/operator-rs"

[package]
name = "stackable-operator"
version.workspace = true
authors.workspace = true
edition.workspace = true
description.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
chrono = { version = "0.4.26", default-features = false }
clap = { version = "4.3.19", features = ["derive", "cargo", "env"] }
const_format = "0.2.31"
either = "1.9.0"
futures = "0.3.28"
json-patch = "1.0.0"
k8s-openapi = { version = "0.19.0", default-features = false, features = ["schemars", "v1_27"] }
kube = { version = "0.85.0", features = ["jsonpatch", "runtime", "derive"] }
lazy_static = "1.4.0"
product-config = { git = "https://github.com/stackabletech/product-config.git", tag = "0.4.0" }
rand = "0.8.5"
regex = "1.9.3"
schemars = "0.8.12"
serde = { version = "=1.0.171", features = ["derive"] } # We need to pin 1.0.171 as of now, as otherwise Nix builds break because of https://github.com/serde-rs/serde/issues/2538
serde_json = "1.0.104"
serde_yaml = "0.9.25"
strum = { version = "0.25.0", features = ["derive"] }
thiserror = "1.0.44"
tokio = { version = "1.29.1", features = ["macros", "rt-multi-thread"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
derivative = "2.2.0"
tracing-opentelemetry = "0.20.0"
opentelemetry = { version = "0.20.0", features = ["rt-tokio"] }
opentelemetry-jaeger = { version = "0.19.0", features = ["rt-tokio"] }
stackable-operator-derive = { path = "stackable-operator-derive" }
snafu = "0.7.5"

[dev-dependencies]
rstest = "0.18.1"
tempfile = "3.7.1"

[workspace]
members = ["stackable-operator-derive"]
