[workspace]
members = ["crates/*"]

[workspace.package]
authors = ["Stackable GmbH <info@stackable.de>"]
license = "Apache-2.0"
edition = "2021"
repository = "https://github.com/stackabletech/operator-rs"

[workspace.dependencies]
product-config = { git = "https://github.com/stackabletech/product-config.git", tag = "0.6.0" }

axum = "0.7.4"
chrono = { version = "0.4.26", default-features = false }
clap = { version = "4.3.19", features = ["derive", "cargo", "env"] }
const_format = "0.2.31"
const-oid = "0.9.6"
darling = "0.20.3"
delegate = "0.12.0"
derivative = "2.2.0"
dockerfile-parser = "0.8.0"
ecdsa = { version = "0.16.9", features = ["digest", "pem"] }
either = "1.9.0"
futures = "0.3.28"
futures-util = "0.3.30"
hyper = { version = "1.0.0", features = ["full"] }
hyper-util = "0.1.3"
json-patch = "1.0.0"
k8s-openapi = { version = "0.21.0", default-features = false, features = ["schemars","v1_28"] }
# We use rustls instead of openssl for easier portablitly, e.g. so that we can build stackablectl without the need to vendor (build from source) openssl
kube = { version = "0.88.1", default-features = false, features = ["client","jsonpatch","runtime","derive","rustls-tls"] }
lazy_static = "1.4.0"
opentelemetry = "0.21.0"
opentelemetry_sdk = { version = "0.21.0", features = ["rt-tokio"] }
opentelemetry-jaeger = { version = "0.20.0", features = ["rt-tokio"] }
p256 = { version = "0.13.2", features = ["ecdsa"] }
proc-macro2 = "1.0.66"
quote = "1.0.32"
rand = "0.8.5"
rand_core = "0.6.4"
regex = "1.9.3"
rsa = { version = "0.9.6", features = ["sha2"] }
rstest = "0.18.1"
rustls-pemfile = "2.0.0"
schemars = "0.8.12"
semver = "1.0"
serde = { version = "1.0.184", features = ["derive"] }
serde_json = "1.0.104"
serde_yaml = "0.9.25"
sha2 = { version = "0.10.8", features = ["oid"] }
signature = "2.2.0"
snafu = "0.8.0"
stackable-operator-derive = { path = "stackable-operator-derive" }
strum = { version = "0.26.1", features = ["derive"] }
syn = "2.0.28"
tempfile = "3.7.1"
thiserror = "1.0.44"
time = { version = "0.3.29" }
tokio = { version = "1.29.1", features = ["macros", "rt-multi-thread", "fs"] }
tokio-rustls = "0.25.0"
tokio-test = "0.4.3"
tower = "0.4.13"
tower-http = { version = "0.5.1", features = ["trace"] }
tracing = "0.1.37"
tracing-opentelemetry = "0.22.0"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
url = "2.4.1"
x509-cert = { version = "0.2.5", features = ["builder"] }
zeroize = "1.7.0"
