[package]
name = "stackable-operator"
version = "0.1.0"
authors = ["Lars Francke <lars.francke@gmail.com>"]
edition = "2018"

[dependencies]
either = "1.6"
futures = "0.3"
k8s-openapi = { version = "0.9.0", default-features = false, features = ["v1_18"] } # 1.19 and k8s-openapi 0.10 are not supported in kube 0.43 yet, they will be in the next released version
kube = { version = "0.43", default-features = false, features = ["derive"] }
kube-runtime = "0.43"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.8"
thiserror = "1.0"
tokio = { version = "1.1", features = ["macros", "rt-threaded"] }
tracing = "0.1"
tracing-subscriber = "0.2"

[features]
default = ["native-tls"]
native-tls = ["kube/native-tls"]
rustls-tls = ["kube/rustls-tls"]
