[package]
authors = ["Stackable GmbH <info@stackable.de>"]
description = "Stackable Operator Framework"
edition = "2021"
license = "Apache-2.0"
name = "stackable-operator"
version = "0.13.0"
repository = "https://github.com/stackabletech/operator-rs"

[dependencies]
chrono = { version = "0.4.19", default-features = false }
clap = { version = "3.1.1", features = ["derive", "cargo", "env"] }
const_format = "0.2.22"
either = "1.6.1"
futures = "0.3.19"
json-patch = "0.2.6"
k8s-openapi = { version = "0.14.0", default-features = false, features = ["schemars", "v1_23"] }
kube = { version = "0.69.1", features = ["jsonpatch", "runtime", "derive"] }
lazy_static = "1.4.0"
product-config = { git = "https://github.com/stackabletech/product-config.git", tag = "0.3.0" }
rand = "0.8.4"
regex = "1.5.4"
schemars = "0.8.8"
serde = "1.0.136"
serde_json = "1.0.78"
serde_yaml = "0.8.23"
strum = { version = "0.23.0", features = ["derive"] }
thiserror = "1.0.30"
tokio = { version = "1.16.1", features = ["macros", "rt-multi-thread"] }
tracing = "0.1.29"
tracing-subscriber = { version = "0.3.7", features = ["env-filter"] }
backoff = "0.4.0"
derivative = "2.2.0"

[dev-dependencies]
rstest = "0.12.0"
tempfile = "3.3.0"

[features]
default = ["native-tls"]
native-tls = ["kube/native-tls"]
rustls-tls = ["kube/rustls-tls"]
