[package]
authors = ["Lars Francke <lars.francke@stackable.de>"]
description = "Stackable Operator Framework"
edition = "2018"
license = "Apache-2.0"
name = "stackable-operator"
version = "0.1.0-nightly"

[dependencies]
async-trait = "0.1"
chrono = "0.4"
clap = "2.33"
const_format = "0.2"
either = "1.6"
futures = "0.3"
json-patch = "0.2"
k8s-openapi = { version = "0.13", default-features = false, features=["schemars"] }
kube = { version = "0.59", default-features = false, features = ["jsonpatch"] }
kube-runtime = "0.59"
lazy_static = "1.4"
product-config = { git = "https://github.com/stackabletech/product-config.git", branch = "main" }
rand = "0.8"
regex = "1.5"
schemars = "0.8"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.8"
thiserror = "1.0"
tokio = { version = "1.6", features = ["macros", "rt-multi-thread"] }
tracing = "0.1"
tracing-futures = "0.2"
tracing-subscriber = "0.2"
uuid = { version = "0.8", features = ["v4"] }
backoff = "0.3"

[dev-dependencies]
k8s-openapi = { version = "0.13", default-features = false, features = ["v1_21"] }
kube = { version = "0.59", default-features = false, features = ["derive"] }
rstest = "0.11"
serial_test = "0.5"
tempfile = "3.2"

[features]
default = ["native-tls"]
native-tls = ["kube/native-tls"]
rustls-tls = ["kube/rustls-tls"]
